/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body{
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1{
    text-align: center;
    margin-top: 180px;
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 35px;
}

.login {
    background-color: #E54F6D;
    width: 500px;
    height: 100vh; /* Define a altura da div para preencher a altura da tela */
}

.login-form{
    margin: 35px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center; /* Centraliza verticalmente */
}

.input {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
    outline: none;
    
  }
  
  .input:focus {
    border-bottom: 1px solid #6941c6;
    -webkit-transition: 0.1s;
    transition: 0.5s;
  }

  .button {
    font-family: 'Poppins', sans-serif;
     display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; 
    margin-top: 35px;
    margin-left: 37%;
    --bg: #000;
    --hover-bg:#feb5c4 ;
    overflow-x: #000;
    color: #fff;
    border: 1px solid var(--bg);
    border-radius: 4px;
    padding: 0.8em 2em;
    background: var(--bg);
    transition: 0.2s;
  }
  
  .button:hover {
    color: var(--hover-text);
    transform: translate(-0.25rem,-0.25rem);
    background: var(--hover-bg);
    box-shadow: 0.25rem 0.25rem var(--bg);
  }
  
  .button:active {
    transform: translate(0);
    box-shadow: none;
  }

  .mensagem{
    text-align: center;
    margin: 20px;
    font-family: 'Poppins', sans-serif;
  }
